<script type="text/javascript" >
	Ext.onReady(function(){
		com.zz91.zzwork.UserLoginWin(function(){
			#if("$!{url}"!="")
			window.location.href="$!{url}";
			#else
			window.location.href=Context.ROOT+"/index.htm";
			#end
		});
	});
</script>