#*
<script type="text/javascript"src="${contextJs}/extux/Portal.js"></script>
<script type="text/javascript"src="${contextJs}/extux/PortalColumn.js"></script>
<script type="text/javascript"src="${contextJs}/extux/Portlet.js"></script>
*#

<script type="text/javascript"src="#springUrl('/app/welcome.js')"></script>
<script type="text/javascript">
Ext.onReady(function(){
	var viewport=new Ext.Viewport({
		layout:'border',
		items:[
			new com.zz91.zzwork.mybsView({
				title:"软件产品",
				bsTypes:"0",
				region:"west",
				width:"20%",
				split:true
			}),
			new com.zz91.zzwork.mybsView({
				title:"业务系统",
				bsTypes:"1",
				region:"center"
			}),
			new com.zz91.zzwork.mybsView({
				title:"客户网站",
				bsTypes:"2",
				region:"east",
				width:"20%",
				collapsible:true,
				collapsed:true,
				titleCollapse:true
			})
		]
	});
	
	//new com.zz91.zzwork.mybsView({id:"bs3",title:"客户网站",bsTypes:"2"})
	
});
</script>